* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f8f8;
    font-family: 'Pacifico', cursive;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

input,
textarea {
    cursor: pointer;
    outline: none;
}

.wrapper {
    overflow: hidden;
    min-width: 1200px;
    min-height: 100%;
}

.container {
    width: 1160px;
    margin: 0 auto;
}


/*menu*/

.menu__list {
    display: flex;
    flex-direction: row;
}

.menu__item {
    margin-left: 30px;
}

.menu__item-link {
    color: #8FBC8F;
    font-size: 17pt;
    font-style: oblique;
}

.menu__item-link:hover {
    color: #F0E68C;
    transition: .3s;
}

.menu__item-link--active {
    color: ivory;
}

h2,
.many-text {
    font-weight: 400;
}

h2 {
    font-size: 18px;
    background-color: #eaeaea;
}

td {
    border: 1px solid;
}

p::first-letter {
    font-size: 20pt;
    color: #ec1e79;
}

.short-text {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.many-text {
    color: #484343;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.features {
    padding-left: 20px;
}

.features__item {
    text-shadow: blue 0 0 1px;
    letter-spacing: 3.2px;
}

.features__item:before {
    content: "\2740";
}

.form {
    width: 50%;
    margin: 0 auto;
    background-color: #f2d9e6;
}

.form__row:nth-child(3) {
    padding-bottom: 5px;
}

.form__label {
    display: inline-block;
    width: 70px;
    vertical-align: top;
}

.form__field {
    height: 25px;
    font-size: 15px;
    text-transform: capitalize;
}

.form__field--many-text {
    height: 50px;
}

.form__field:focus {
    border-color: #ec1e79;
}

.form__button-block {
    text-align: center;
}

.form__button {
    border-radius: 6px;
    height: 40px;
    width: 125px;
    background-color: #fff;
    color: #370000;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
    border-color: darkmagenta;
    text-align: center;
}

.form__button:hover {
    background-color: #8c83c9;
    color: black;
    transition: .5s;
}

.images__item {
    padding-right: 25px;
    display: inline-block;
}

.images__item:last-child {
    padding-right: 0;
}

.images__pic {
    width: 300px;
    height: 200px;
}

.images__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: #00004d solid 3px;
}

.images__photo:hover {
    border-color: transparent;
}

.images__desc {
    text-align: center;
}

.images__link:hover {
    transition: 0.4s;
    color: #008080;
}

.header {
    width: 100%;
    min-height: 77px;
    background-color: #27273e;
    margin-bottom: 30px;
    font-size: 20pt;
}

.header__container {
    display: flex;
    padding: 20px 0;
}

.header__left-block {
    width: 50%;
    display: flex;
    align-items: center;
}

.header__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

.header__text {
    color: ivory;
    margin-left: 30px;
}

.header__right-block {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.footer {
    background-color: #27273e;
    color: ivory;
}

.footer__container {
    max-height: 100px;
    padding-top: 13px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 14pt;
}

.form__field--enter-text:focus {
    color: #A0522D;
    background-color: #F0E68C;
}

.table {
    border-collapse: collapse;
}

.table__header {
    text-align: center;
    background-color: #F0E68C;
}

.table__header--height {
    height: 50px;
}