@font-face {
   font-family: "My AmadeusAP";
   src: url("fonts/WCManoNegraBta.otf");
}

body {
   margin: 0;
}

ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
}

li {
   display: inline-block;
   text-transform: uppercase;
}

.container {
   width: 940px;
   height: inherit;
   margin: 0 auto;
}

.clear {
   clear: both;
}

.social {
   height: 47px;
   background-color: #282b2e;
}

.logo {
   background: url("../images/logo.png") left center no-repeat;
   float: left;
   width: 50%;
   height: inherit;
}

.ul-right {
   float: right;
   height: inherit;
}

header nav{
   height: 56px;
   background-color: #fcfcfc;
}

.main {
   background: url("../images/photo_header.png") center top no-repeat #fafafa;
   min-height: 1190px;
}

.discription {
   width: 40%;
   height: 420px;
}

.discription span {
   background-color: #373737;
   color: #ffffff;
   font-size: 24px;
}

.empty-block {
   width: inherit;
   height: 2px;
}

.discription button {
   width: 32px;
   height: 31px;
}

.button-left {
   background: url("../images/button_left.png");
}

.button-right {
   background: url("../images/button_right.png");
}

.main section {
   width: inherit;
   min-height: 800px;
   border: 1px solid #dfdfdf;
   background-color: #ffffff;
   box-sizing: border-box;
   position: relative;
   z-index: 1;
   padding: 0px 27px 27px;
}

.slider {
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
   background: #242729;
   padding: 27px 20px;
   box-sizing: border-box;
   margin: 0 -27px;
}

.slider-item img {
   width: 75px;
   height: 75px;
}

.flex-between {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

artical {
   flex-basis: 30%;
}

.ul-center {
   text-align: center;
}

.portfolio-item {
   margin-top: 20px;
}

.portfolio-item img {
   width: 206px;
   height: 121px;
}

footer {
   height: 370px;
   background: url("../images/photo_footer.png");
   margin-top: -30px;
}

footer header {
   color: #e4e5e5;
}

footer p {
   color: #adadad;
}

footer .flex-between {
   align-items: flex-start;
   padding-top: 70px;
}

.flex-start {
   display: flex;
   flex-wrap: wrap;
}

.socialmedia-item {
   flex-basis: 12.5%;
}

.socialmedia-item img {
   width: 30px;
   height: 31px;
}

.short_explain:first-letter, .big_explain:first-letter {
   color: #8786ff;
   font-size: 30px;
   font-family: "My AmadeusAP", serif;
}

