@font-face {
    font-family: "My AmadeusAP";
    src: url("fonts/WCManoNegraBta.otf");
}

body {
   background: #d6f8f6;
   margin: 10px;
}

.header ul {
   list-style-type: none;
   padding-left: 20px;
}

.header a {
   text-decoration: none;
   font-weight: 400;
   font-size: 20px;
   color: #9aa1a9;
}

.header a:hover {
   text-decoration: none;
   font-weight: 900;
   font-size: 20px;
   color: #a9928f;
}

.header img {
   width: 150px;
   height: 100px;
   border-radius: 200px 0px;
   border: 4px solid #eaeaea
}

.mark_menu li {
   padding-bottom: 4px;
}

.header_prod {
   color: black;
   font-size: 18px;
   font-weight: 400;
   background: #eaeaea;
}

.short_explain {
   color: #707070;
   font-size: 14px;
   font-style: italic;
   line-height: 16px;
}

.big_explain {
   color: #484343;
   font-size: 16px;
   font-weight: 400;
   line-height: 24px;
   text-align: left;
}
.short_explain:first-letter, .big_explain:first-letter {
   color: #8786ff;
   font-size: 30px;
   font-family: "My AmadeusAP", serif;
}

.mark_main {
   color: #484343;
   font-size: 16px;
   border-collapse: collapse;
   border-spacing: 0;
}

.mark_main td {
   border: 3px solid #eaeaea;
}

.td_first {
   text-decoration: underline;
   vertical-align: top;
}
.tr_first {
   height: 40px;
   vertical-align: bottom;
   text-align: center;
}

.photo_product {
    border: 10px solid #c8a18f;
}

.photo_product:hover {
   border: 0;
   margin: 10px;
}

.epigraf {
   color: #707070;
   font-family: "My AmadeusAP", serif;
   font-size: 20px;
}

.input_style, .textarea_style {
   color: #9188a9;
   font-weight: 600;
   font-size: 14px;
   text-transform: capitalize;
}

.input_style {
   width: 459px;
   height: 24px;
   margin-top: 4px;
}

#usermail {
   text-transform: none;
}

#usermail:focus {
   color: #ff784f;
   background: #bcbcc8;
}